<h2><%=@user.email %><h2>
<h1>Posts</h1>
<%= link_to "new post", new_post_path %>

<% @posts.each do |post| %>

      <li><%= link_to post.caption, "/posts/#{post.id}" %></li>
      <% if current_user.id == @user.id %>
      DELETE BUTTON
  <% end %>
    <% end %>
